@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --clr-txt-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --clr-txt-soft-red: hsl(14, 88%, 65%);
    --clr-txt-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-txt-dark-grayish-blue: hsl(240, 6%, 50%);

    --bg-gradient-soft-violet: hsl(273, 75%, 66%);
    --bg-gradient-soft-blue: hsl(240, 73%, 65%);

    --clr-dividers-light-grayish-blue: hsl(240, 5%, 91%);

    --font-normal: 'Kumbh Sans', sans-serif;
    --font-bold: 700;
}


* {box-sizing: border-box;}

body {font-size: 12px;
      background-image: linear-gradient(var(--bg-gradient-soft-violet), var(--bg-gradient-soft-blue));
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-family: var(--font-normal);}

#card {background-color: white;
       width: fit-content;
       display: flex;
       border-radius: 1rem;
       box-shadow: 5px 10px 20px rgba(73, 6, 128, 0.541)}

#card-img {padding-block: 4rem;
           background-image: url(images/bg-pattern-desktop.svg);
           background-repeat: no-repeat;
           background-position: 115% 65%;
           position: relative;}

#card-img::after {content: "";
                  display: inline-block;
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  left: -50px;
                  top: 0;
                  background-image: url(images/illustration-box-desktop.svg);
                  background-repeat: no-repeat;
                  background-position: -50px 200px;
                  overflow-x: visible}                 

img {position: relative;
     left: -80px;}

svg {position: absolute;
     left: -95px;
     top: 200px;}

#card-text {padding-right: 6rem;
            margin-block: 1.5rem;}  

h1 {font-size: 2.5em;
    color: var(--clr-txt-very-dark-desaturated-blue);
    margin-top: 2rem;}

details {color: var(--clr-txt-dark-grayish-blue);
         border-bottom: thin solid var(--clr-dividers-light-grayish-blue);
         width: 300px;}

details:not(:first-of-type) {margin-top: .75rem;}

details[open] {padding-bottom: 1rem;}

details p {line-height: 150%;
          margin: 0;
          padding-right: 1rem;}

details[open] summary {color: var(--clr-txt-very-dark-desaturated-blue);
                      font-weight: var(--font-bold);}

summary {color: var(--clr-txt-very-dark-grayish-blue);
        padding-bottom: 0.75rem;}

summary:hover {color: var(--clr-txt-soft-red);
              cursor: pointer;}

summary::marker {content: "";}

summary::after {content: url(images/icon-arrow-down.svg);
               float: right;}

details[open] summary::after {transform: rotate(180deg);}

summary::marker {content: "";}

footer {margin-top: 1.5rem;}

.attribution {font-size: 11px; text-align: center;}

.attribution a {color: white;}

/*Mobile 375 x 667*/
@media (max-width: 1439px){
    body {margin-inline: 1.5rem;}
    
    main {width: 100%;}

    #card {width: 100%;
           flex-direction: column;
           margin-top: 8rem;}

    #card-img {padding: 0;
               overflow: visible;
               background-image: url(images/bg-pattern-mobile.svg);
               background-position: 50% 0;
               height: 110px;}

    img {left: 0;
         transform: scale(.75) translateY(-75%);}

    svg {display: none;}

    h1 {text-align: center;
        margin-top: -.5rem;}

    #card-text {padding: 0 1.5rem;}

    div#card-txt {width: 100%;}

    details {width: 100%;}

    details:first-of-type {margin-top: 1.5rem;}

    details:last-of-type {margin-bottom: 1rem;}
}
